{{ define "main" }}
{{ $headless := .GetPage "./homepage" }}
{{ $sections := $headless.Resources.ByType "page" }}
{{ $sections := cond .Site.BuildDrafts $sections (where $sections "Draft" "==" false) }}
{{ $content := where (where $sections "Params.external" "==" nil) "Params.detailed_page_homepage_content" "ne" false }}
{{ $translations := .Page.AllTranslations }}
{{ $is_home := eq .Lang "home" }}

<!-- Welcome screen that scrolls out of view -->
{{ if not .Params.header_use_video }}
  {{ with $img := resources.Get .Params.header_image }}
  {{ $image_options := $.Site.Params.image_options | default "webp q90 lanczos photo" -}}
  <style>
  /* Default cover for larger screens, converted to webp */
  {{- with $img.Resize ( printf "%dx%d left %s" $img.Width $img.Height $image_options ) -}}
  #site-head.withCenteredImage {
    background-image: url('{{- .RelPermalink -}}');
  }
  {{- end }}
  </style>
  {{ end }}
<header id="site-head" class="withCenteredImage">
{{ else }}
<header id="site-head">
{{ end }}

    <div class="vertical">
        {{ if .Params.header_use_video }}
            {{- partial "custom_header_video.html" . -}}
        {{ end }}

    {{ $num_lang := len $translations }}
    {{ if and (not $is_home) (gt $num_lang 1) $.Site.Params.language_menu }}
    <div id="site-languages" class="inner">
        {{ range $translations }}
        {{ $lang_title := or .Language.LanguageName (.Lang | strings.ToUpper) }}
        {{ if eq .Lang $.Lang }}
            {{ if $.Site.Params.show_current_lang }}
            <span class='btn-lang active'>{{ $lang_title }}</span>
            {{ end }}
        {{ else }}
            <a class='btn-lang' href='{{ .RelPermalink }}'>{{ $lang_title }}</a>
        {{ end }}
        {{ end }}
    </div>
    {{ end }}

        <div id="site-head-content" class="inner">
        {{ with resources.Get .Params.header_logo }}<img id="blog-logo" alt="" src="{{ .RelPermalink }}" />{{ end }}
        {{ if .Site.Params.title_guard }}<div class="title-and-description-guard">{{ end }}
          {{ with .Params.header_headline }}<h1 class="blog-title">{{ . | safeHTML }}</h1>{{ end }}
          {{ with .Params.header_subheadline }}<h2 class="blog-description">{{ . | safeHTML }}</h2>{{ end }}
        {{ if .Site.Params.title_guard }}</div>{{ end }}
        </div>
    </div>
</header>

<main class="content" role="main">
    <div class='fixed-nav'>
        {{ range $index_val, $elem_val := $content }}
            {{ $fnav_title := .Title }}{{ with .Params.navigation_menu_title }}{{ $fnav_title = . }}{{ end }}
            <a class='fn-item' item_index='{{ (add $index_val 1) }}' href='#{{ anchorize $fnav_title }}'>{{ $fnav_title | safeHTML }}</a>
        {{ end }}
    </div>
    
    {{ range $index_val, $elem_val := $content }}
        {{ if .Title }}
        {{ $fnav_title := .Title }}{{ with .Params.navigation_menu_title }}{{ $fnav_title = . }}{{ end }}
        <div class='post-holder{{ if and (ne .Site.Params.invertSectionColors true) (not (modBool $index_val 2)) }} dark{{ else if and (eq .Site.Params.invertSectionColors true) (modBool $index_val 2) }} dark{{ end }}'>
            <article id='{{ anchorize $fnav_title }}' class='post'>
                <header class="post-header">
                    <h2 class="post-title">{{ .Title | emojify | safeHTML }}</h2>
                </header>
                <section class="post-content">
                    {{ .Content }}
                    {{if .Params.comments}}
                      {{ partial "hyvor_comments.html" . }}
                    {{end}}
                </section>
            </article>
        </div>
        {{ end }}
    {{ end }}
</main>
{{ end }}
